@import url("https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  flex-grow: 1;
  color: rgba(8, 8, 58, 0.835);
  font-family: "Rubik Pixels", cursive, sans-serif;
  font-size: 15rem;
  text-shadow: 8px 12px 17px #0648fffd;
  transition: all 0.5s ease-out;
}

.logo-text {
  font-family: "Rubik Wet Paint", cursive, sans-serif;
  flex-grow: 1;
  text-align: center;
  color: rgb(200, 38, 38);
  transform: rotateX(20deg) rotateY(10deg);
  transform-style: preserve-3d;
  font-size: 6rem;
  bottom: 70px;
  right: 100px;
  transition: all 0.5s ease-out;
}
